/* Header */

.page-header{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-photo img {
    width: 42%;
    border-radius: 300px;
}
.header-photo{
    text-align: center;
    width: 450px;
    padding-top: 22px;
}
.header-name{
    text-align: left;
    width: 450px;
}
.my-name {
    font-size: 25px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}
.contacts {
    text-align: center;
    padding-top: 500px;
}
.contacts a,
.contacts span {
    font-size: 1rem;
    color: black;
    margin: 4px;
    text-decoration: none;
    font-family: monospace;
}
.contacts i {
    padding-right: 10px;
}

/* Page Brake */
.page-break {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 900px;
}
.page-break-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    display: flex;
    justify-content: flex-start;
    border-top: 1px inset;
    border-color: gray;
    padding-left: 10px ;
    width: 600px;
}
